{% extends "base.html" %}
{% load static %}

{% block title %}Home - Library{% endblock %}
{% block content %}


<div class="container">
  <h1>{{ book.title }}</h1>
  <p><strong>Author:</strong> {{ book.author }}</p>
  <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="max-width:200px;">
  <p>{{ book.description }}</p>

  <hr>
<h2 class="text-center mb-2">Chapters</h2>
  {% for chapter in chapters %}
    <div class="chapter mb-4">
      <h2>{{ chapter.title }}</h2>
      <p>{{ chapter.content|linebreaks }}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}